@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700;900&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    width: 100%;
    overflow-x: hidden;
    font-family: "Roboto", sans-serif;
    background-color: #302273;
}

.main__section {
    max-width: 1350px;
    margin: 0 auto;
    width: 100%;
}

.header__section {
    background-color: #302273;
    display: flex;
    flex-direction: column;
}

.header__navigation--container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 5rem;
    background-color: #302273;
}

.navigation__image--container {
    display: flex;
}

.navigation__image--container div {
    margin-left: 2rem;
    padding-left: 1.5rem;
    display: flex;
    flex-direction: column;
    border-left: 1px solid rgba(255, 255, 255, 0.55);
    color: #ffffff;
    font-size: 1.25rem;
}

.navigation__image {
    width: 6.5rem;
}

.termsandC {
    text-decoration: none;
    color: orange;
    text-underline-position: below;
}

.navigation__button {
    background-color: #d78c47;
    color: #ffffff;
    font-family: "Roboto", sans-serif;
    padding: 1.25rem 3rem;
    font-size: 1.65rem;
    font-weight: 500;
    letter-spacing: 1px;
    border-radius: 2px;
    border: 0;
    transition: all 0.3s ease;
}

.navigation__button:hover {
    background-color: #d66c11;
    cursor: pointer;
}

.cta__section {
    padding: 8rem 0 6rem 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cta__image--container {
    width: 40%;
}

.cta__image {
    width: 100%;
}

.cta__header--container {
    position: absolute;
    display: flex;
}

.cta__header--letter {
    font-size: 14rem;
    color: #cbfff3;
    margin: 0 1rem;
}

.cta__header--letter:nth-child(even) {
    transform: translateY(-3.5rem);
}

.cta__header--letter:nth-child(odd) {
    transform: translateY(1rem);
}

.partners__section {
    background-color: #302273;
    /* background: red; */
    padding: 6rem 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.about__section {
    background-color: #302273;
    /* background-color: red; */
    padding: 7rem 0 0 0;
    display: flex;
    align-items: center;
    just-content: center;
    flex-direction: column;
}

.header2__header {
    color: #cbfff3;
    font-size: 3.5rem;
    text-transform: uppercase;
    text-align: center;
    display: inline-block;
    border-bottom: 1px solid rgba(255, 255, 255, 0.35);
    margin: 3rem 0;
    letter-spacing: 1.5px;
    padding-bottom: 2.5rem;
}

.about__content {
    width: 80%;
    font-size: 1.65rem;
    line-height: 1.85;
    color: #ffffff;
    font-style: italic;
    text-align: center;
    margin: 1rem 0 0 2rem;
}

.about__section button {
    margin-top: 3rem;
    margin-bottom: 2rem;
}

.about__section button:hover {
    transform: translateY(-5px);
}

.banner__section {
    margin-top: 10rem;
    background-color: #302273;
    /* background-color: red; */
    min-height: 75vh;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-image: url("./image/rec-banner.png");
    background-repeat: no-repeat;
    background-position: center;
}

.features__section {
    margin-top: 14rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.features__section .about__content {
    width: 45%;
    line-height: 1.9;
    font-size: 1.8rem;
}

.features__list {
    margin-top: 12rem;
    display: flex;
    width: 100%;
    align-items: center;
    background-color: #302273;
    /* background: red; */
    justify-content: space-around;
}

.feature__item {
    background-color: #ffffff;
    width: 18rem;
    height: 18rem;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.feature__item h3 {
    color: #d78c47;
    font-size: 3.5rem;
    margin: 4px 0;
}

.feature__item h4 {
    color: #302273;
    font-size: 1.5rem;
    text-transform: uppercase;
    margin-top: 5px;
}

.feature__item:nth-of-type(2) {
    transform: translateY(-6rem);
}

.middle__banner {
    background-color: #d78c47;
    width: 70%;
    margin: 7.5rem auto 0 auto;
    position: relative;
    top: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 1.5rem;
    padding: 2rem;
}

.middle__banner--image img {
    width: 25rem;
}

.middle__banner--content {
    max-width: 50%;
}

.middle__banner--content h3 {
    color: #ffffff;
    font-size: 1.75rem;
    margin: 0.8rem 0;
}

.middle__banner--content p {
    font-size: 1.5rem;
    line-height: 1.65;
}

.gallery__section {
    padding-top: 18rem;
    padding-bottom: 12rem;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #1ec8ed;
}

.gallery__section img {
    margin: 0 1rem;
    opacity: 0.75;
    transition: 0.25s all ease;
}

.gallery__section img:hover {
    opacity: 1;
}

.registration__section {
    padding-top: 8rem;
    padding-bottom: 6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.registration__section form {
    width: 60%;
}

.registration__section form .input-container {
    display: flex;
    flex-direction: column;
    margin: 2.5rem 0;
}

.registration__section form div label {
    margin-bottom: 0.6rem;
    color: #ffffff;
    font-size: 1.65rem;
    font-weight: 200;
    text-transform: uppercase;
}

.registration__section form div input[type="text"],
.registration__section form div input[type="email"],
.registration__section form div input[type="number"],
.registration__section form div input[type="url"] {
    border: 0;
    outline: 0;
    font-size: 1.7rem;
    padding: 1rem 0.6rem;
    border-radius: 3px;
    font-family: "Roboto", sans-serif;
}

.registration__section form div input[type="radio"] {
    margin: 0.85rem;
}

.radio-container {
    flex-direction: row;
    margin: 1.8rem 0;
}

.radio-container p {
    font-size: 1.75rem;
    color: #ffffff;
    margin-bottom: 0.4rem;
}

.upload-status {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.upload-status button {
    background-color: #5800ff;
    color: #ffffff;
    font-family: "Roboto", sans-serif;
    border: 0;
    outline: 0;
    padding: 1rem 2.5rem;
    margin: 1rem 0;
    font-size: 1.65rem;
    text-transform: uppercase;
    font-weight: 500;
    transition: all 0.2 ease;
    border-radius: 4px;
}

.upload-status button:hover {
    cursor: pointer;
    background-color: #3800ff;
}

.upload__id--btn {
    background-color: #5800ff;
    color: whitesmoke;
    font-family: "Roboto", sans-serif;
    border: 0;
    outline: 0;
    padding: 1rem 2.5rem;
    margin: 1rem 0;
    font-size: 1.65rem;
    text-transform: uppercase;
    font-weight: 500;
    transition: all 0.2 ease;
    border-radius: 4px;
}

h3 {
    font-size: 2em;
    color: whitesmoke;
}

.upload-status p {
    border-top: 1px solid rgba(255, 255, 255, 0.15);
    margin: 2rem 0;
    padding: 2rem 0;
    color: #ffffff;
    width: 70%;
    font-size: 1.55rem;
}

.form__submit--btn {
    width: 100%;
    background-color: #d78c47;
    color: #ffffff;
    border: 0;
    outline: 0;
    padding: 1.2rem 0;
    font-size: 1.75rem;
    text-transform: uppercase;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    letter-spacing: 1px;
    border-radius: 3px;
    transition: all 0.25s ease;
    border-radius: 1.5rem;
}

.form__submit--btn:hover {
    cursor: pointer;
    background-color: #d66c11;
}

.footer__section {
    background-color: #000000;
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    font-size: 1.65rem;
}

@media only screen and (max-width: 75em) {
    html {
        font-size: 58%;
    }
}

@media only screen and (max-width: 62.5em) {
    html {
        font-size: 55%;
    }
    .cta__header--letter {
        font-size: 12rem;
    }
    .gallery__section img {
        width: 85%;
    }
}


/* 800px */

@media only screen and (max-width: 50em) {
    html {
        font-size: 50%;
    }
    .cta__header--letter {
        font-size: 10rem;
    }
    .gallery__section {
        flex-direction: column;
    }
    .gallery__section img {
        margin: 1rem 0;
    }
    .partners__section {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        /*
		align-content: center;
    align-items: center;
    justify-content: center;
		*/
        justify-items: center;
        grid-row-gap: 6rem;
    }
}

@media only screen and (max-width: 43.75em) {
    html {
        font-size: 52%;
    }
    .cta__header--letter {
        font-size: 8rem;
    }
    .registration__section form {
        width: 90%;
    }
    .middle__banner {
        width: 85%;
    }
    .middle__banner--image img {
        width: 20rem;
    }
    .cta__header--letter:nth-child(even) {
        transform: translateY(-2rem);
    }
    .cta__header--letter:nth-child(odd) {
        transform: translateY(0.45rem);
    }
}


/* 600px */

@media only screen and (max-width: 37.5em) {
    html {
        font-size: 48%;
    }
    .cta__header--letter {
        font-size: 6rem;
    }
}


/* 500px */

@media only screen and (max-width: 31.25em) {
    html {
        font-size: 44%;
    }
    /* .cta__header--letter {
    font-size: 4rem;
  } */
}


/* 400px */

@media only screen and (max-width: 25em) {
    html {
        font-size: 40%;
    }
}